name: run regression tests

on: 
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  regression-tests:
    runs-on: ubuntu-latest    
    steps:
    - uses: actions/checkout@v5
    - uses: actions/setup-python@v6
      with:
        python-version: '3.12' 
    - run: |
      python3 -m tests.test_forward
      python3 -m tests.test_backward
